<div class="container">
<h1>My tasks</h1>
<ul class='list-group'>
  <% @tasks.each do |task| %>
  <li class='list-group-item'>
    <%= task.completed ? 'â˜‘' : 'â˜' %><%= link_to task.title, task_path(task) %>
    <%= link_to "ðŸ—‘",
      task_path(task),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
     %>
  </li>
  <% end %>
</ul>
<%= link_to "+ Add a task", tasks_new_path %>
</div>
